img {
  width: 100%;
}

form {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
form input[type="submit"] {
  border: none;
  background: orangered;
  color: white;
  margin-left: 15px;
  border-radius: 3px;
  padding: 0 15px;
  cursor: pointer;
}

#rating-filter {
  color: white;
  padding: 5px;
  background: orangered;
  border: none;
  cursor: pointer;
}

section {
  margin: auto;
  margin-top: 20px;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
}

figure {
  background-color: white;
  width: 14em;
  margin: .50em;
  box-shadow: 0 5px 18px 0 gray;
  overflow: hidden;
  position: relative;
}
figure img {
  height: 21em;
}
figure figcaption {
  line-height: 2;
  padding: 0 .80em;
}
figure figcaption p {
  text-transform: capitalize;
  font-size: .80em;
  margin-bottom: 0;
  margin-top: 0;
  color: orangered;
}
figure figcaption .rating {
  display: flex;
  align-items: center;
}
figure figcaption .rating .fa-heart {
  color: #fa5050;
  margin: .50em .50em .50em 0;
}
figure figcaption .rating h4 {
  margin: 0;
}

@media (max-width: 737px) {
  section {
    justify-content: center;
  }
}
